*{
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Comforter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/comforter/v5/H4clBXOCl8nQnlaql3Qq75u9.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lexend Peta';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lexendpeta/v27/BXR4vFPGjeLPh0kCfI4OkFX-UTQHSCaxvBgR6SBCXFwv.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#wrapper{
    margin-left:auto;
    margin-right:auto;
    min-width:800px;
}

body{
    background-color:rgb(31, 95, 111);
}

#banner{
    background-image: url("Web Img/image.png");
    height: 200px;
    width:100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    
}

#title{
    text-align: center;
    font-size: 50px;
    font-family: 'Comforter';
    text-transform: uppercase;
    color:white;
    margin-top:50px;
    letter-spacing: 0.5em;
}

.image-ref{
    border:2px solid white;
    border-radius: 50%;
    
}

.sticky{
    top:0;
    position: -webkit-sticky;
    position: sticky;
}
    
.list-inline{
    list-style-type: none;
    overflow: hidden;
    background-color: #dc6719;
    
}

li{
    display:inline-block;
}

li a{
    display: block;
    color: white;
    text-align: center;
    font-family: 'Lexend Peta';
    font-size: larger;
    text-transform: uppercase;
    padding: 10px 200px 10px 200px;
    text-decoration: none;
    background-color:#dc6719;
    border-radius: 5px;
}
      
li a:hover {
    color: #5c2c0c;
    transition: color 0.15s;
}

li a:active{
    color: #01010b;
}

.zara,.tommy{
    float:left;
}
.salmon,.bongwater{
    float:right;
}

.spam,.salmon,.zara,.tommy,.rodere,.hotplate,.bongwater{
    margin: 50px 100px;
    border-radius: 5px;
}

.spam,.salmon,.zara{
    box-shadow: 20px 20px 15px black;
}


#about-me, #gallery, #about-me, #terms, #commission{
    text-align: center;
    color:#ffffff;
    text-transform: uppercase;
}

h2{
    font-family:'Lexend Peta';
    font-size: 50px;
    margin:50px;
    text-align: center;
    letter-spacing: 0.3em;
}

p{
    margin: 100px 100px;
    font-size: 30px;
    font-family: 'franklin gothic medium';
}

.social-media{
    color:white;
    font-family:'Franklin Gothic Medium';
    font-size: 25px;
    text-align:center;
}

.social-logo{
    text-align: center;
   
}







