*{
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Comforter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/comforter/v5/H4clBXOCl8nQnlaql3Qq75u9.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lexend Peta';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lexendpeta/v27/BXR4vFPGjeLPh0kCfI4OkFX-UTQHSCaxvBgR6SBCXFwv.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body{
    background-color:rgb(255, 255, 255);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    text-align: center;
    
}

/* Banner */

#banner-image{
    position:fixed;
    top:4px;
    left:20px;
    z-index:2001;
    
}

/*--------*/

/* title and headings */
#title{
    text-align: center;
    font-size: 50px;
    font-family: 'Comforter';
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    margin-top:50px;
    letter-spacing: 0.5em;
}

#gallery header,#about-me, #about-me, #terms, #commission{
    text-align: center;
    color:#000000;
    text-transform: uppercase;
    font-family:'Lexend Peta';
    font-size: 25px;
    margin:50px;
    letter-spacing: 0.3em;
    padding:100px;
}


/* --------------- */

/* place holders */
.image-ref{
    border:2px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin: 100px 0px;
    
}
/* ---------- */

/* navigation bar */
.sticky{
    border:2px solid #000000;
    width:100%;
    top:0px;
    position: fixed;
    background-color: #000000;
    opacity:0.7;
    z-index: 2000;
}

.list-inline{
   overflow: hidden;
   float:left;
}
li{
    display:inline-block;
    margin-left:120px;
}
li a{
    display:block;
    background-color: #000000;
    padding:30px 0px;
    font-family:Tahoma;
    font-size: 20px;
    color:aliceblue;
    opacity: 100;
}
li a:hover {
    color: #ffa200;
    transition: color 0.15s;
}
li a:active{
    color: #01010b;
}
/* ------------ */


/* Images */
#gallery-image{
    border: 2px transparent;
    margin:100px 100px;
    text-align: center;
    padding:10px;
}
.zara{
    position: relative;
    float:right;
    right:300px;
    margin-bottom:40px;
}
.salmon{
    position: relative;
    float:left;
    left:300px;
    z-index: 1500;
    margin-bottom:40px;
}
.spam{
    position: relative;

}

.spam,.salmon,.zara{
    border-radius: 5px;
}

.spam,.salmon,.zara{
    box-shadow: 20px 20px 15px black;
}
.spam:hover,.salmon:hover,.zara:hover{
    box-shadow: 20px 20px 15px #ffa200;
    transition: 1s;
    scale: 1.05;
    z-index: 1900;
}

/*------------*/

p{
    margin: 100px 100px;
    font-size: 30px;
    font-family: 'franklin gothic medium';
}

.pin{
    position:fixed;
    top:25px;
    right:20px;
    z-index:2000;
   
}
.insta{
    position:fixed;
    top:25px;
    right:110px;
    z-index:2000;
   
}
.deviant{
    position:fixed;
    top:25px;
    right:200px;
    z-index:2000;
   
}
.yt{
    position:fixed;
    top:25px;
    right:300px;
    z-index:2000;
   
}

.yt:hover,.pin:hover,.deviant:hover,.insta:hover{
    border-bottom: 2px solid #ffa200;
}

.yt:active,.pin:active,.deviant:active,.insta:active{
    border-bottom: 2px solid orangered;
}






